:root {
    --primary-color: #6f8b74;
    --secondary-color: #d8c9b5;
    --background-color: #d8c5a6;
    --card-background: #2b0909;
}

body {
    background-color: var(--background-color);
}

.hero-title {
    color: var(--primary-color);
}

.hero-image {
    max-height: 700px;
}

.process-number {
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-color);
}

.custom-navbar {
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(8px);
}