<section class="py-5 border-top">
    <div class="container">
        <div class="row text-center">

            <div class="col-md-3">
                <h4>Żywienie</h4>
                <p>Dieta dopasowana do Twoich potrzeb.</p>
            </div>

            <div class="col-md-3">
                <h4>Dietoterapia</h4>
                <p>Wsparcie przy problemach zdrowotnych i poprawie samopoczucia.</p>
            </div>

            <div class="col-md-3">
                <h4>Analiza badań</h4>
                <p>Szczegółowa interpretacja wyników i praktyczne zalecenia.</p>
            </div>

            <div class="col-md-3">
                <h4>Suplementacja</h4>
                <p>Dobór suplementów dopasowanych do Twoich potrzeb.</p>
            </div>

        </div>
    </div>
</section>