{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% block title %}
        Dietetyk Monika
        {% endblock %}
    </title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}?v=navbar-reference-20260907"
    >
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}?v=amsterdam-one-20260910">
    <link rel="preload" href="{% static 'fonts/caveat-latin.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/amsterdam-one.ttf' %}" as="font" type="font/ttf" crossorigin>

    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/watermark.css' %}?v=20260908-fixed-home">

</head>


<body>

    {% include "main/partials/navbar.html" %}


    <main class="site-main{% if request.resolver_match.url_name == 'home' %} site-main-home{% endif %}">

        {% block content %}
        {% endblock %}

    </main>


    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js">
    </script>
    <script src="{% static 'js/navigation.js' %}?v=navbar-reference-20260907" defer></script>

    {% block extra_js %}{% endblock %}

</body>

</html>
